
#hotel-card {
  margin-bottom: 5px;

  .hotel-create-link {
    background-color: #c5c5c5;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    &:hover {
      opacity: 0.5;
    }
    p {
      position: absolute;
      height: 100%;
      width:100%;
      text-align: center;
    }
  }

  h5 {
    text-align: center;
  }

  p {
    text-align: justify;
  }

}
