<div class="col-md-6 col-md-offset-3">
<h1>New Hotel</h1>
<form #f="ngForm" name="form" (ngSubmit)="f.form.valid && create()" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hotelName.valid }">
    <label for="name">Hotel Name</label>
    <input type="text" class="form-control" required [(ngModel)]="hotel.name" #hotelName="ngModel" name="name" placeholder="Name">
    <div *ngIf="f.submitted && !hotelName.valid" class="alert alert-danger">Hotel name is required</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hotelLocation.valid }">
    <label for="location">Location</label>
    <input type="text" class="form-control" required [(ngModel)]="hotel.location" name="location" #hotelLocation="ngModel" placeholder="Location"/>
    <div *ngIf="f.submitted && !hotelLocation.valid" class="alert alert-danger">Hotel location is required</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hotelDescription.valid }">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" [(ngModel)]="hotel.description" cols="30" rows="10" #hotelDescription="ngModel" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Add Hotel</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['/']" class="btn btn-link">Cancel</a>

  </div>
  <strong id="error">{{errorMessage}}</strong>
</form>
</div>
